@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-pic {
    background-image: url('/public/Background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}